@{
    ViewBag.Title = "Index";
}
@model QuickBooks.Models.DAL.State
@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="align-content: center"> Welcome to the QuickBooks application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div style="align-content: center"> Welcome to the QuickBooks application</div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <script type="text/javascript" src="https://js.appcenter.intuit.com/Content/IA/intuit.ipp.anywhere-1.3.5.js"></script>
        <script type="text/javascript">
            $(document)
                .ready(function () {
                    window.intuit.ipp.anywhere.setup({
                        grantUrl: "@($"{ConfigurationManager.AppSettings["BaseUrl"]}/Oauth?connect=true")",
                        datasources: {
                            quickbooks: true,
                            payments: false
                        }
                    });
                    if ($('#connection').length > 0) {
                        HideButtons();
                    }
                });
            function DisableSaveButton() {
                $("#pr_1").css("display", "inline-block");
                $("#SaveBtn").prop("disabled", true);
            }
            function DisableRecalculateButton() {
                $("#pr_2").css("display", "inline-block");
                $("#RecalculateBtn").prop("disabled", true);
            }
            function HideButtons() {
                $("#SaveBtn").prop("disabled", true);
                $("#RecalculateBtn").prop("disabled", true);
            }
        </script>
        <div id="connect-to-qbo-div">
            @if (Model.isConnected)
            {
                <p style="color: green">My app is connected to QuickBooks Online.</p>
            }
            else
            {
                <p style="color: red" id="connection">My app is not connected to QuickBooks Online.</p>
            }
            <ipp:connecttointuit></ipp:connecttointuit>
        </div>
        <div>
            @using (@Html.BeginForm("Recalculate", "Report"))
            {
                <button class="btn btn-success" id="RecalculateBtn" onclick="DisableSaveButton()">Recalculate sales tax</button>
                <div><progress id="pr_1"></progress></div>
            }
        </div>
        <div>
            @using (Html.BeginForm("Save", "Report"))
            {
                <button class="btn btn-success" id="SaveBtn" onclick="DisableRecalculateButton()">Save Report</button>
                <div><progress id="pr_2"></progress></div>
            }
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>

